
<body>
  <h1> Welcome to Snail Mail! </h1>
</body>

<body>
  <div>{{ displayText }}</div>

  <div>Snails: {{ snails }}</div>
  <div *ngIf="firstShellFlag">Shells: {{ shells }}</div>

  <button (click)="huntSnail()">Hunt a snail</button>
  <div *ngIf="displayWildSnailsFlag">Snails in the wild: {{ wildSnails | number: '1.0-0' }}/{{ wildSnailsMax }}</div>

  <br>

  <div *ngIf="suggestBuildingFarmFlag">
    <button (click)="buildFarm()">Build the Snail Farm</button>
    <div>Snails needed to build farm: {{ farmBuildProgress }}/{{ farmBuildProgressMax }}</div>
    <br>
  </div>

  <div *ngIf="farmFullyBuiltFlag">
    <button (click)="plantSnail()">Add a snail to the farm</button>
    <div>Snails in the farm: {{ farmSnails }}{{ showFarmLimitFlag ? '/' + farmSnailsMax : '' }}</div>
    <br>
  </div>

  <div *ngIf="DEBUGMODE">
    <div>Delta: {{ wildSnailsDelta }} </div>
    <button (click)="activateTestButton()">Get 50 Snails</button>
  </div>

</body>

<body>
  <div style="position: fixed; bottom: 0px; left: 15px; font-size: 14px;">
    <p>Pro tip: Snails are very cool.</p>
    Version 1.8
  </div>
</body>