
<body>
  <h1> Welcome to Snail Mail! </h1>
</body>


<body>
  <div id="dialogDisplay">{{ displayText }}</div>

  <div id="snailsDisplay">Snails: {{ snails }}</div>
  <div *ngIf="firstShellFlag" id="shellsDisplay">Shells: {{ shells }}</div>

  <button (click)="huntSnail()">Hunt a snail</button>
  <div *ngIf="displayWildSnailsFlag" id="wildSnailsDisplay">Snails in the wild: {{ wildSnailsDisplay }}/{{ wildSnailsMax }}</div>

  <br>

  <div *ngIf="suggestBuildingFarmFlag">
    <button id="buildFarmButton" (click)="buildFarm()">Build the Snail Farm</button>
    <div id="farmBuildProgressDisplay">Snails needed to build farm: {{ farmBuildProgress }}/{{ farmBuildProgressMax }}</div>
    <br id = "farmBuildLineBreak">
  </div>


  <div *ngIf="farmFullyBuiltFlag">
    <button id="plantSnailButton" (click)="plantSnail()">Add a snail to the farm</button>
    <div id="farmSnailsDisplay">Snails in the farm: {{ farmSnails }}{{ showFarmLimitFlag ? '/' + farmSnailsMax : '' }}</div>
    <br id = "farmSnailsLineBreak">
  </div>


  <div *ngIf="DEBUGMODE">
    <div id="snailsDeltaDisplay">Delta: {{ wildSnailsDelta }} </div>
    <button id="testButton" (click)="activateTestButton()">Test button</button>
  </div>

</body>

<body>
  <div style="position: fixed; bottom: 0px; left: 15px; font-size: 14px;">
    <p>Pro tip: Snails are very cool.</p>
    Version 1.8
  </div>
</body>