<main class="main">
  <div class="content">
    <body>
      <h1>Welcome!</h1>
      <p>Hello! Welcome to my page! It's a bit empty at the moment, but stay tuned, I'm currently working on it!</p>
      <br>
      <a class="tabButton" href="home">Home</a>
      <a class="tabButton" href="snail-mail">Snail Mail</a>
    </body>
    <body>
      <div style="position: fixed; bottom: 0px; left: 15px; font-size: 14px;">
        Version 1.5
      </div>
    </body>
  </div>
</main>

<router-outlet></router-outlet>
